<div id="hero">
  <div class="bug">
    <h1>TooFactor is simple two factor authentication for developers with deadlines.</h1>
    <h5>Drop-in integration. JSON, XML and SMS. Inexpensive, not cheap.</h5>
  </div>

  <a href="#" class="btn large blue">Try It Now</a>
</div>

<section class="page">

  <section class="deck" id="secure">
    <div class="column">
      <h2>Secure.</h2>
      <p>TooFactor provides industrial-strength security, making it the reliable choice for mission critical applications.</p>
      <a href="#" class="cta">Try It Now &rarr;</a>
    </div>
    <div class="column">
      <div class="art"></div>
    </div>
  </section>

  <section class="deck" id="simple">
    <div class="column">
      <div class="art"></div>
    </div>
    <div class="column">
      <h2>Simple, drop-in integration.</h2>
      <p>Nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="cta">Try It Now &rarr;</a>
    </div>
  </section>

  <section class="deck" id="mobile">
    <div class="column">
      <h2>Mobile + web. Authenticate anywhere.</h2>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="cta">Try It Now &rarr;</a>
    </div>
    <div class="column">
      <div class="art"></div>
    </div>
  </section>

  <section class="deck" id="platform">
    <div class="column">
      <div class="art"></div>
    </div>
    <div class="column">
      <h2>Any platform. Any application.</h2>
      <p>Dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="cta">Try It Now &rarr;</a>
    </div>
  </section>

</section>