<div id="hero">
  <div class="bug">
    <h1>Simple two factor authentication for developers with deadlines.</h1>
    <h5>Drop-in integration. JSON, XML, SMS &amp; email. Inexpensive, not cheap.</h5>
  </div>
</div>

<div class="image-header">  
  <%=image_tag "/assets/devices.png" %>
</div>

<div id="see-how">
</div>

<div id="examples">
  <pre>
  <span class="prompt">$</span> curl https://api.stripe.com/v1/charges \
   -u Kugj8pc9xg7kZrqPnn46qqaqSlwt2Nv7: \
   -d amount=400 \
   -d currency=usd \
   -d "description=Charge for nick@littlerobothead.com" \
   -d "card[number]=4242424242424242" \
   -d "card[exp_month]=12" \
   -d "card[exp_year]=2012" \
   -d "card[cvc]=123"
  </pre>
</div>

<section class="page">

  <div class="callout-block">
    <span class="icon">n</span>
    <h3>Secure.</h3>
    <p>Our service is secure for you and your customers. We generate keys using industry standard strong encryption.</p>
  </div>

  <div class="callout-block">
    <span class="icon">D</span>
    <h3>Simple Implementation.</h3>
    <p>You can quickly implement our service using virtually any language of framework. See some examples in our <%= link_to "development wiki", "#" %>.</p>
  </div>

  <hr>

  <div class="callout-block">
    <span class="icon">7</span>
    <h3>Stats Are In The Bag.</h3>
    <p>Each self-service account includes metrics and the ability to modify your service level or cancel at any time.</p>
  </div>
      
  <div class="callout-block">
    <span class="icon">j</span>
    <h3>We Love Devs. (We are devs.)</h3>
    <p>We want your experience to be as simple as possible. Can't find what you're looking for? <%=link_to "Drop us a line.", "#" %> and we'll lend a hand.</p>
  </div>

</section>