

<div class="image-header">  
  <%=image_tag "/assets/devices.png" %>
</div>

<div id="hero">
  <div class="bug">
    <h1>Simple two factor authentication for developers with deadlines.</h1>
    <h5>Drop-in integration. JSON, XML, SMS &amp; email. Inexpensive, not cheap. Add your email below to know the minute we launch.</h5>
  </div>
</div>

<div class="mailform">
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="http://tinygoat.us5.list-manage.com/subscribe/post?u=631459a8891676ebf42358e9b&amp;id=953ada31d0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="yourname@email.com">
      <input type="submit" value="Keep Me Posted!" class="tny blue">
    </form>
  </div>
</div>

<!--End mc_embed_signup-->
</div>

<section class="page">

  <div class="callout-block">
    <span class="icon">n</span>
    <h3>Secure.</h3>
    <p>Our service is secure for you and your customers. We generate keys using industry standard strong encryption.</p>
  </div>

  <div class="callout-block">
    <span class="icon">D</span>
    <h3>Simple Implementation.</h3>
    <p>Quickly add two-factor authentication using virtually any language or framework. See some examples in our <%= link_to "development wiki", "#" %>.</p>
  </div>

  <hr>

  <div class="callout-block">
    <span class="icon">7</span>
    <h3>Stats Are In The Bag.</h3>
    <p>Each self-service account includes metrics and the ability to modify your service level or cancel at any time.</p>
  </div>
      
  <div class="callout-block">
    <span class="icon">j</span>
    <h3>We Love Devs. (We are devs.)</h3>
    <p>We want your experience to be as simple as possible. Can't find what you're looking for? <%=link_to "Drop us a line.", "#" %> and we'll lend a hand.</p>
  </div>

</section>