<div id="hero">
  <div class="bug">
    <h1>Simple two factor authentication for developers with deadlines.</h1>
    <h5>Drop-in integration. JSON, XML, SMS &amp; email. Inexpensive, not cheap.</h5>
  </div>
</div>

<div class="image-header">  
  <%=image_tag "/assets/devices.png" %>
</div>

<section class="page">

  <div class="callout-block">
    <span class="icon">n</span>
    <h3>Secure.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
  </div>
  <div class="callout-block">
    <span class="icon">D</span>
    <h3>Simple Implementation.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
  </div>

  <hr>

  <div class="callout-block">
    <span class="icon">7</span>
    <h3>Stats Are In The Bag.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
  </div>
  <div class="callout-block">
    <span class="icon">j</span>
    <h3>We Love Devs. (We are devs.)</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
  </div>

</section>