@import "compass/reset";
@import "compass/css3";
@import "fonts";

.form {
  width: 500px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  @include box-shadow(0 3px 10px #d7d7d7);
  font-size: 120%;
  color: #444;
  overflow: hidden;

  &.tos {
    p {
      margin-bottom: 15px;
      font-size: 90%;
    }

    h3 {
      margin-bottom: 10px;
    }

    ul {
      margin-left: 18px;
      li {
        margin-bottom: 15px;
        font-size: 90%;   
        color: #777;
        line-height: 20px;
        list-style: disc;
      }
    }
    ol {
      margin-left: 18px;
      li {
        margin-bottom: 15px;
        font-size: 90%;   
        color: #777;
        line-height: 20px;
        list-style-type: upper-roman;
      }
    }
    ol+ol {
      margin-top: 15px;
    }
  }

  .updates {
    background: #cfeefa;
    padding: 15px;
    margin-bottom: 10px;
    @include border-radius(8px);
  }

  .credit-card {
    background: #efefef;
    padding: 15px;
    border: 1px solid #ccc;
    @include border-radius(8px); 
    @include box-shadow(0 1px 0 #fff inset);
    position: relative;
    margin: 20px 0;

    h3 {
      padding-bottom: 5px;
      font-size: 140%;
    }

    label {
      font-size: 80%;
      color: #444;
      text-transform: uppercase;
    }

    .magnetic-stripe {
      background: #111;
      height: 45px;
      width: 500px;
      margin: 10px -15px 10px -15px;
    }

    .card-expiry-month,
    .card-expiry-year,
    .card-cvc {
      width: 50px;
    }

    .date {
      float: left;
    }

    .cvc {
      float: right;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: 100%;
    padding: 10px 5px;
    border: 1px solid #d7d7d7;
    @include border-radius(3px);
    @include box-shadow(0 1px 0 #fff);
    margin: 10px 0;
    width: 97%;
  }
  select,
  textarea {
    display: block;
    margin: 10px 0;
  }
  textarea {
    width: 98%;
    border: 1px solid #d7d7d7;
    @include border-radius(4px);
  }
}
.form-header {
  width: 600px;
  margin: auto;
  text-align: center;
  
  h2 {
    font-family: 'CabinMedium', 'Helvetica', Arial, sans-serif;
    font-size: 220%;
    color: #555;
    text-align: center;
  }
}