@import "compass/reset";
@import "compass/css3";
@import "fonts";

.form {
  width: 500px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  @include box-shadow(0 3px 10px #d7d7d7);
  font-size: 120%;
  color: #444;
  overflow: hidden;

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: 100%;
    padding: 10px 5px;
    border: 1px solid #d7d7d7;
    @include border-radius(3px);
    margin: 10px 0;
    width: 97%;

    &.card-expiry-month {
      width: 40px;
    }
    &.card-expiry-year {
      width: 240px;
    }
  }
}
.form-header {
  width: 600px;
  margin: auto;
  text-align: center;
  
  h2 {
    font-family: 'CabinMedium', 'Helvetica', Arial, sans-serif;
    font-size: 220%;
    color: #555;
    text-align: center;
  }
}