@import "compass/css3";

.form {
  p.current-password {
    padding: 6px 10px;
    @include border-radius(3px);
    background-color: #ebebeb;
    margin: 10px 0;
  }
  fieldset.change-password {
    padding: 6px 10px;
    @include border-radius(3px);
    background-color: #ebebeb;
    margin: 10px 0;
    
    p.hint {
      padding: 5px 0;
    }
  }
}