@import "compass/reset";
@import "compass/css3";
@import "fonts";


$medblue: #617b91;
$red: #bc0d05;
$dimblue: #e3f5fc;

/* Base Setup
-----------------------------------*/

body {
  background: #ebebeb url('/assets/noise.png');
  font-family: 'CabinRegular', 'Helvetica', Arial, sans-serif;
  font-size: small;
}


/* Base/Grid Containers
-----------------------------------*/

#grid {
  width: 960px;
  margin: auto;
  overflow: hidden;
}
.content {
  width: 940px;
  padding: 20px;
  margin: auto;
  overflow: auto;

  &.half {
    @include column-count(2);
  }
}

/* Page Containers
-----------------------------------*/

nav {
  &#primary {
    width: 100%;

    .content {
      border-bottom: 1px dotted #888;
      margin-bottom: 20px;
    }

    .branding {
      float: left;
      width: 48%;
    }
  }
  ul {
    float: right;
    margin-top: 6px;

    li {
      display: inline;
      color: #444;
      padding: 8px;
      font-size: 110%;
      text-align: center;

      a {
        text-decoration: none;
        color: #0072ac;
        font-weight: bold;
        text-align: center;
      }

      &.here {
        background: #fff;
        @include border-radius(20px);
        border: 1px solid #d7d7d7;
        padding: 4px 8px;
      }
    }
  }
}
header.generic {
  padding: 30px 20px 30px 20px;
  width: 900px;
  margin: auto;

  h1 {
    font-family: 'CabinMedium', 'Helvetica', Arial, sans-serif;
    color: #555;
    text-align: center;
    font-size: 310%;
    text-shadow: 0 1px 0 #fff;
  }
  h3 {
    font-family: 'CabinMedium', 'Helvetica', Arial, sans-serif;
    color: $medblue;
    text-align: center;
    font-size: 180%;
    line-height: 40px;
    text-shadow: 0 1px 0 #fff;
  }
}

#hero {
  width: 900px;
  padding: 30px 20px 30px 20px;
  margin: auto;

  .bug {
    margin: 0 auto 0 auto;
    width: 700px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;

    h1 {
      font-family: 'CabinMedium', 'Helvetica', Arial, sans-serif;
      font-size: 340%;
      color: #444;
    }
    h5 {
      margin-top: 20px;
      font-size: 160%;
      font-family: 'CabinMedium', 'Helvetica', Arial, sans-serif;
      color: $medblue;
    }
  }
}

#see-how {
  width: 180px;
  height: 30px;
  margin: auto;
  background: url('/assets/show-me.png') top center no-repeat;
  cursor: pointer;
}
#examples {
  display: none;
  width: 900px;
  margin: 10px auto 0 auto;
  padding: 20px 20px 5px;
  background: #444;
  border: 1px solid #111;
  @include border-radius(8px);
  @include box-shadow(
    0 1px 0 #fff,
    0 0 15px #000 inset
  );
  color: lighten($medblue, 40%);

  pre {
    line-height: 20px;

    .prompt {
      color: #a5b939;
    }
  }
}

section {
  width: 940px;
  margin: 20px auto;
  border: 1px solid #d7d7d7;
  background: #fff;
  @include border-radius(6px);
  @include box-shadow(
    0 3px 3px #999
  );
  overflow: hidden;

  hr {
    clear: both;
    color: #fff;
    background: url('/assets/faded-rule.png') center center no-repeat;
    height: 1px;
    width: 900px;
    margin: auto;
    border: 0;
  }

  .callout-block {
    width: 45%;
    padding: 20px;
    float: left;

    h3 {
      color: orange;
      font-size: 140%;
      margin-bottom: 10px;
    }

    .icon {
      font-family: 'ModernPictogramsNormal';
      font-size: 70px;
      width: 90px;
      height: 90px;
      line-height: 90px;
      color: #444;
      float: left;
      text-align: center;
      margin-right: 20px;
      width: 90px;
      text-shadow: 0 0 25px #fff, 0 1px 0 #fff;
      background: #888;
      @include border-radius(100px);
      @include box-shadow(
        0 1px 0 #777 inset,
        0 1px 0 #fff
      );
    }
  }
}

footer {
  width: 940px;
  padding: 20px 20px 40px;
  text-align: center;
  margin: 20px auto;
  color: #666;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px dotted #888;
}

/* Type
-----------------------------------*/

h1 {
  font-size: 240%;
  color: #222;
}
h2 {
  &.logo {
    font-family: 'CabinBold', 'Helvetica', Arial, sans-serif;
    font-size: 200%;
    color: #444;
    font-weight: 900;
    letter-spacing: -0.05em;
    text-shadow: 0 1px 0 #fff;

    a {
      color: #444;
      text-decoration: none;
    }
  }
}

p {
  font-size: 114%;
  color: #777;
  line-height: 20px;

  &.hint {
    font-size: 70%;
    font-style: italic;
    clear: both;
    text-align: center;
  }
}
ol {
  li {
    list-style: numeral;
    font-size: 100%;
    color: #777;
    line-height: 20px;   
  }
}

/* Buttons
-----------------------------------*/

.btn {
  @include border-radius(4px);
  padding: 8px 20px;
  cursor: pointer;

  &.large {
    font-family: 'CabinBold', 'Helvetica', Arial, sans-serif;
    font-size: 140%;
    text-align: center;
    text-shadow: 0 1px 0 darken(#0072ac, 10%);
    color: #efefef;
  }

  &.small {
    @include border-radius(4px);
    font-family: 'CabinBold', 'Helvetica', Arial, sans-serif;
    font-size: 120%;
    text-align: center;
    text-shadow: 0 1px 0 darken(#0072ac, 10%);
    color: #efefef;
    float: right;
  }

  &.blue {
    background: #0072ac;
    border: 1px solid darken(#0072ac, 10%);
    @include box-shadow(
      0 1px 0 lighten(#0072ac, 20%) inset,
      0 0 15px lighten(#0072ac, 10%) inset,
      0 3px 10px #222
      );
    &:active {
      @include box-shadow(0 1px 10px darken(#0072ac, 20%) inset);
    }
  }
}
a.btn {
  text-decoration: none;
}

a {
  color: #0072ac;
  text-decoration: none;
}

/* Media Queries
-----------------------------------*/

@media only screen and (max-device-width: 640px) {

  #hero {
    width: 900px;
    .bug {
      -webkit-text-size-adjust: 150%;
      width: 900px;
    }
  }

  hr {
    display: none;
  }
  nav {
    background: #fff;
    border: 0;

    .branding {
      h2.logo {
        width: 900px;
        text-align: center;
        -webkit-text-size-adjust: 300%;
      }
    }
  }
  ul.sublinks {
    width: 860px;
    clear: both;
    margin: 10px auto;
    -webkit-text-size-adjust: 275%;
    border: 0;

    li {
      border: 0;
    }
  }
  section {
    &.page {
      .callout-block {
        width: 800px;
        display: block;
        margin-left: 50px;

        .icon {
          display: block;
          margin: auto;
          width: 100%;
          font-size: 200px;
        }

        h3 {
          text-align: center;
          -webkit-text-size-adjust: 250%;
          margin-bottom: 10px;
        }

        p {
          -webkit-text-size-adjust: 300%;
          line-height: 60px;
        }

      }
    }
  }
  footer {
    -webkit-text-size-adjust: 300%;
  }
}

