<header class="generic">
  <h1>Plans to fit any developer's budget.</h1>
  <h3>Never a contract. Cancel any time. Code samples for tons of platforms.</h3>
</header>

<div class="plans">
  <table>
    <tbody>
      <% for plan in @plans do %>
        <tr>
          <td width="75%">
            <dl>
              <dt><%= pluralize(plan.number_of_bundled_emails, 'Email Authentication') %> / mo.</dt>
              <dd>Other cool things</dd>
            </dl>
          </td>
          <td class="price">
            <%= number_to_currency(plan.monthly_cost) %> / mo.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h3>Try it for 15 days <span class="red">free.</span> Start now.</h3>
  <h4>Add SMS for just 1.5 cents per message</h4>
</div>