<header class="generic">
  <h1>Plans to fit any developer's budget.</h1>
  <h3>Never a contract. Cancel any time. Code samples for tons of platforms.</h3>
</header>

<div class="plans">
  <table>
    <tbody>
      <tr>
        <td width="75%">
          <dl>
            <dt>20,000 Authentications</dt>
            <dd>Other cool things</dd>
          </dl>
        </td>
        <td class="price">
          $12/mo
        </td>
      </tr>
      <tr>
        <td width="75%">
          <dl>
            <dt>50,000 Authentications</dt>
            <dd>Other cool things</dd>
          </dl>
        </td>
        <td class="price">
          $25/mo
        </td>
      </tr>
      <tr>
        <td width="75%">
          <dl>
            <dt>150,000 Authentications</dt>
            <dd>Other cool things</dd>
          </dl>
        </td>
        <td class="price">
          $75/mo
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Try it for 15 days <span class="red">free.</span> Start now.</h3>
  <h4>Add SMS for just 1.5 cents per message</h4>
</div>